form legend {
  font-size: 200%;
  color: #757575;
}

.parallax-container {
  height: 350px;
}

#main-header h1 {
  margin-bottom: 0;
  color: #f44336;
}

#main-header h2 {
  margin-top: 0;
  font-size: 24px;
  color: #bdbdbd;
}

#main-section section.container {
  margin-left: 0;
}

#main-section #main-nav { z-index: 1; }
