<section id="students-index" class="container">
  <h2>Students in the system</h2>

  <form class="filter row">
    <div input-field class="col s8">
      <label for="filter-full-name">Search</label>
      <input id="filter-full-name" type="text" ng-model="studentsCtrl.fullNameFilter" ng-change="studentsCtrl.refreshFilter()" />
    </div>

    <div input-field class="col s4">
      <select class="" ng-model="studentsCtrl.filterBy" material-select watch ng-change="studentsCtrl.refreshFilter()">
        <option ng-repeat="value in studentsCtrl.filterTypes">{{value}}</option>
      </select>
    </div>
  </form>

  <wj-flex-grid items-source="studentsCtrl.studentsFilter">
    <wj-flex-grid-column header="First Name" binding="$data" is-read-only="true">
      {{$item.lastName}}, {{$item.firstName}}
    </wj-flex-grid-column>
    <wj-flex-grid-column header="DOB" binding="DOB"></wj-flex-grid-column>
    <wj-flex-grid-column header="Guardian's Name" binding="guardiansName"></wj-flex-grid-column>
    <wj-flex-grid-column header="Guardian's Email" binding="guardiansEmail"></wj-flex-grid-column>
    <wj-flex-grid-column header="Side Notes" binding="sideNotes" width="*"></wj-flex-grid-column>
  </wj-flex-grid>
</section>
