<section id="home">
  <h2>About</h2>

  <div class="content">
    <p>Donec sodales sagittis magna. Nunc interdum lacus sit amet orci. Phasellus ullamcorper ipsum rutrum nunc.</p>
    <p>Phasellus magna. Cras non dolor. Praesent venenatis metus at tortor pulvinar varius.</p>
    <p>Ut a nisl id ante tempus hendrerit. Cras non dolor. In ut quam vitae odio lacinia tincidunt.</p>
    <p>Donec sodales sagittis magna. Nunc interdum lacus sit amet orci. Phasellus ullamcorper ipsum rutrum nunc.</p>
    <p>Phasellus magna. Cras non dolor. Praesent venenatis metus at tortor pulvinar varius.</p>
  </div>
</section>
